/*this is a comment*/
body {
    background-color: #FDEFEF;
}

/*sort the selectors in alphabetical order by convention*/
hr {
    background-color: none;
    border-color: #512D6D;
    border-style: dotted none none;
    width: 15%;
    border-width: 4px;
}

/*combining selectors*/
h1, h3 {
    color: #512D6D;
}

img {
    border-radius: 30% 10%;
    height: 200px;
}

/*class*/
a:hover {
    color: blue;
}

/*pseudo-class*/
.link:link {
    color: purple;
}

/*id*/
#submit_name_button:hover {
    color: blue;
}
