/*this is a comment*/
body {
    background-color: #FDEFEF;
}

/*sort the selectors in alphabetical order by convention*/
hr {
    background-color: none;
    border-color: #512D6D;
    border-style: dotted none none;
    width: 15%;
    border-width: 4px;
}

/*combining selectors*/
h1, h3 {
    color: #512D6D;
}

img {
    border-radius: 30% 10%;
    border-style: solid;
    border-width: 2px 5px 2px;
    height: 200px;

}

textarea, .submit_button {
    position: relative;
    left: 100px;
}

.email_input {
    position: relative;
    left: 1px;
}

/* "a" is a class. ":hover" is a pseudo-class */
a:hover {
    color: blue;
}

.link:link {
    color: purple;
}

/*id*/
#submit_name_button:hover {
    color: blue;
}
